.list{
    list-style: none;
    display: flex;
    justify-content:center;
    gap: 20px;
    &_item{
        background: #c3c3c3;
        width: 100px;
        padding: 10px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        row-gap: 10pxa;
        align-items: center;
        &_name{
            font-weight: 700;
            font-size: 24px;
        }
        &_price{
            font-weight: 600;
            font-size: 21px;
        }
    }
}