.btn{
    padding: 15px 20px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    &_light{
        background: #c3c3c3 ;
        color: black;

    }
    &_dark{
        background: black;
        color: white;
    }
}