.loginblock{
    position: absolute;
    width: 496px;
    height: 760px;
    left: 39%;
    top: -30px;
    
    background: rgba(233, 233, 233, 0.25);
    backdrop-filter: blur(5px);
    /* Note: backdrop-filter has minimal browser support */
 }
 .enterBlock{
    box-sizing: border-box;

    position: absolute;
    width: 340px;
    height: 36px;
    left: 70px;
    top: 60px;
    
    border: 1px solid #153416;
    border-radius: 30px;

}

.enterall{
    position: absolute;
width: 168px;
height: 35px;


background: #153416;
border-radius: 30px;
}
.enterall2{
    position: absolute;
width: 72px;
height: 14px;
left: 200px;
top: 9px;

color: #ffffff;
}

.textenterall{
    position: absolute;
width: 27px;
height: 14px;
top: 10px;
left: 39%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}

.h3logintext{
    position: absolute;
width: 68px;
height: 35px;
left: 40%;
top: 176px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 35px;
text-align: center;

color: #FFFFFF;
}
.infoinput{
    position: absolute;
width: 340px;
height: 150px;
left: 670px;
top: 240px;
}

.e-mail{
    position: absolute;
    width: 340px;
    height: 44px;
    
    background: #929191;
    border-radius: 30px;
    border: none;
    color: #FFFFFF;

}

.e-mail:hover{
    box-shadow: 6px 6px  6px rgb(101, 101, 101);

}
.password{
    position: absolute;
width: 340px;
height: 44px;

top:70px;

background: #929191;
border: none;
border-radius: 30px;
color: #FFFFFF;
}

.password:hover{
    box-shadow: 6px 6px  6px rgb(101, 101, 101);
}
.accepttext{
    position: absolute;
width: 150px;
height: 14px;
left: 755px;
top: 379px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 14px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}

.forgotpassword{
    position: absolute;
width: 120px;
height: 14px;
left: 768px;
top: 395px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 14px;
/* identical to box height */

text-align: center;
text-decoration-line: underline;

color: #153416;
}

.enterDiv{
    position: absolute;
width: 340px;
height: 44px;
left: 670px;
top: 445px;

background: #153416;
border-radius: 30px;
}

.entertext{
    position: absolute;
width: 34px;
height: 14px;
left: 150px;
top: 15px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 17px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}

.enterDiv:hover{
    box-shadow: 6px 6px  6px rgb(101, 101, 101);
}

.pacount{
    position: absolute;
width: 150px;
height: 14px;
left: 760px;
top: 492px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 15px;
/* identical to box height */

text-align: center;

color: #153416;
}

.aacount{
    position: absolute;
width: 117px;
height: 14px;
left: 779px;
top: 510px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 14px;
/* identical to box height */

text-align: center;
text-decoration-line: underline;

color: #FFFFFF;
}

.pacount2{
    position: absolute;
width: 120px;
height: 14px;
left: 777px;
top: 536px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 15px;
/* identical to box height */

text-align: center;

color: #153416;
}